@font-face {
    font-family: "turus";
    src:         url("fonts/icon/turus.eot");
    src:         url("fonts/icon/turus.eot?#iefix") format("embedded-opentype"),
                 url("fonts/icon/turus.woff") format("woff"),
                 url("fonts/icon/turus.ttf") format("truetype"),
                 url("fonts/icon/turus.svg#turus") format("svg");
    font-weight: normal;
    font-style:  normal;

}

@mixin icon($content) {
    font-family: "turus";

    &::after {
        content: $content;
    }
}

%icon-cancel {
    height: 0.71428571428rem;
    @include icon("\61");
}
