@import "vendor";

@import "common";

body {
    background:              $backgroundColor;
    color:                   $fontColor;
    font-family:             "Open Sans", sans-serif;
    font-size:               14px;
    -webkit-font-smoothing:  antialiased;
    font-weight:             400;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
}
