@import "/src/sass/variable/color";
@import "/src/sass/mixin/effect";

@mixin Link {
    @include defaultTransition;
    text-decoration: none;
    color:           $accentColor;
    cursor:          pointer;

    &:hover {
        @include defaultTransition;
        color: $primaryColor;
    }
}
