@import "/src/sass/common";

.Map {
    bottom:   0;
    left:     0;
    position: absolute;
    right:    0;
    top:      0;
    z-index:  1;
}

.Polygon {
    stroke-width: 2;
}

.PolygonExclusive {
    stroke-width: 0;
}

.Polygon {
    fill:   rgba($accentColor, .3);
    stroke: rgba($primaryColor, .3);
}
