@import "/src/sass/common";

.Footer {
    align-items:     center;
    bottom:          0;
    color:           $greyDarker;
    display:         flex;
    font-size:       12px;
    height:          $footerHeight;
    justify-content: center;
    left:            0;
    position:        absolute;
    width:           100%;

    &.MapMode {
        justify-content: space-between;
        padding:         2px 10px;
        z-index:         1;
    }

    .Logo {
        @include defaultTransition;
        $logoHeight: 30px;

        fill:        $greyDarker;
        height:      $logoHeight;
        width:       $logoHeight * 2.729559748427673;

        &:hover {
            @include defaultTransition;
            fill: $accentColor;
        }
    }
}

.MapAttribution {
    align-self: flex-end;
    font-size:  9px;
}
