@import "/src/sass/common";

$wrapperSpacingVertical: 7px;

.Wrapper {
    @include boxShadow(1);
    align-items:   center;
    background:    $greyLighter;
    border:        1px solid $greyDark;
    border-radius: 3px;
    display:       flex;
    padding:       8px $wrapperSpacingVertical;
    position:      relative;

    &:hover {
        background: $greyLight;
        cursor:     pointer;

        .Icon {
            @include defaultTransition;
            color: $accentColor;
        }
    }
}

.Image {
    align-items:     center;
    display:         flex;
    height:          20px;
    justify-content: center;
    width:           20px;

    img {
        height: 100%;
        width:  auto;
    }
}

.Label {
    align-items: center;
    display:     flex;
    height:      20px;
    margin-left: 0;

    .Image + & {
        margin-left: .5rem;
    }
}

.Icon {
    @include defaultTransition;
    @include iconCancel;
    position: absolute;
    right:    $wrapperSpacingVertical;
}
