<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Turus Plugin</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!--    <link rel="manifest" href="site.webmanifest">-->
    <!--    <link rel="apple-touch-icon" href="icon.png">-->

    <meta content="#fafafa" name="theme-color">
</head>

<body data-apiurl="<%= htmlWebpackPlugin.options.url %>">
<div id="app"></div>
</body>

</html>
